<!DOCTYPE html>
<html>
  <head>
    <title>Main Splash Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main Splash Page</h1>
    <p>PDFTron vs PSPdfKit</p>
  </body>
</html>
